// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Poppins:wght@100;300;500;600&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

nav {
    img{
        margin-bottom: 0.4rem;
    }
    p {
        display: flex;
        flex-direction: column;    
        padding: 0rem 1rem;  
        font-family: $poppins;
        font-weight: 400;
        font-size: 0.8rem;
        text-decoration: none !important;
        color: #DADADA;
    }
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;
    justify-content: center;
    padding-top: 0.6rem;
    height: 65px;
}

.active-nav {
    fill: $teal;
    color: $teal;
}

body {
    background-color: $bg;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: solid;
    border-bottom-color: $lightgray;
    border-width: thin;
}

.logo {
    margin: 1rem;
    width: 55px;
    height: auto;
}

.search{
    margin: 1rem;
}

.welcomeHeader{
    background-color: white;
    width: 100% !important;
    padding: 1rem;
    border-color: white;
    border-radius: 10px;
    margin-top: 1rem;
}
 
//category + filter
#category {
    width: 150px;
    border-color: $middleblue;
    border: solid 1px;
    background-color: white;
    padding: 0.5rem;
    color: $middleblue;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
} 

#filterIcon {
    background-color: white;
    border-color: $middleblue !important;
    border: solid 1px;
    border-radius: 5px;
    margin: 0rem 0rem 0.2rem 0.5rem;
    padding: 0.11rem;
}

.welcomeUser {
    h2 {
        font-family: $lato;
        font-size: 1.4rem;
    }
    margin-top: 1rem;
}

.userCity {
    font-size: 1.2rem;
    display: inline-flex;
    img {
        width: 25px;
        margin: -1rem 0.20rem 0rem 0.20rem;
    }
    h3 {
        font-size: 1.2rem;
    }
}

.headerNav {
    #btns {
        display: flex;
    }
    #btns > input {
        border-radius: 10px;
        padding: 1.1rem;
        margin-right: 0.5rem;
        width: 100px;
        border-style: solid;
        border-color: $teal;
        background-color: white;
        color: $teal;
        font-size: 1rem;
        font-family: $poppins;
        display: flex;
        justify-content: center;
    }

    .active {
        background-color: $teal !important;
        color: white !important;
        border-color: $teal;
    }
    
    a {
        padding: 1.5rem;
        border-radius: 10px;
        border-style: solid;
        border-color: black;
        margin-right: 1rem;
    }
    display: inline-flex;
    margin-top: 1rem;
}

.cardview {
    margin-bottom: 10rem;
    width: 100%;
    height: auto;
    .card {
        margin-top: 1rem;
        display: flex;
        width: 50%;
        border-radius: 5%;
        float: left;
        height: 310px;
        p {
            font-family: $poppins;
            font-size: 0.7rem;
        }
        #priceCard {
            font-family: $poppins;
            font-size: 1rem;
            color: $orange;
            margin-left: 0.5rem;
        }
        img {
            width: 100%;
            height: 45vw;
            object-fit: cover;
            border-radius: 5% 5% 0% 0%;
        }
        h3 {
            font-family: $poppins;
            font-size: 1.1rem;
            margin: 0.5rem;
        }
        .profile {
            width: 2.5rem;
            height: auto;
            margin-right: 0.5rem;
        }
        .card-body {
            display: -webkit-inline-box;
            padding: 0.5rem;
            font-size: 0.6rem;
            font-family: $poppins;
            width: 135px;
            margin-top: 0.25rem;
            h4 {
                font-weight: 400;
                font-size: 0.8rem;
                margin-top: 0.4rem;
            }
        }
    }
}

#loadMore {
    margin-top: 23rem;
}

// Transacties
#wrapper {
    background-color: white;
    padding: 1.5rem;
    border-radius: 15px;
    margin-top: 1.5rem;
}

#illustration {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: white;
}

.menuTransaction {
    display: flex;
    justify-content: center;
    padding: 1rem 0 1rem 0;
    background-color: white;
    #activeTrans, #historyTrans {
        padding: 0.5rem;
        background-color: white;
        color: $teal;
        border-radius: 5px;
        margin-right: 0.5rem;
        width: 160px;
        border-style: solid;
        border-color: $teal;
        font-size: 1rem;
        font-family: $poppins;
        border-width: thin;
    }
}

h1.titleTrans {
    padding: 1rem;
    justify-content: center;
    display: flex;
    font-size: 1.2rem;
    color: $middleblue;
    font-family: $poppins;
}

.flex {
    display: flex;
}
.subjectTitle > h2 {
    color: $orange;
    display: inline-flex;
    flex: 1;
    margin: 1rem;
    font-size: 1.4rem !important;

}

.date {
    background-color: $orange;
    color: white;
    font-family: $poppins;
    font-size: 1rem;
    width: auto;
    word-break: break-all;
    margin-left: 6.5rem;
    border-radius: 5px;
    display: inline-flex;
    margin-right: 1rem;
}

#dateIcon {
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin: 0 auto;
}

.specifics {
    margin-top: 1rem;
    .details {
        float: left;
        display: inline-flex;
        margin-right: 2.5rem;
        margin-left: 1rem;
    }
    .conversation {
        float: left;
        display: inline-flex;
        width: 30%;
        margin-top: 1rem;
    }
}

.details > p {
    margin-right: 1rem;
    margin-top: 1rem;
    font-family: $poppins;
    font-size: 1rem;
    color: $teal;
}

.conversation > p {
    margin-right: 1rem;
    font-family: $poppins;
    font-size: 1rem;
    color: $teal;
}

.details #expandIcon, .conversation #chatIcon {
    width: 35px;
    height: auto;
    margin-top: -0.5rem;
}


//geschiedenis
.transaction-details {
    margin-left: -2.5rem;
    li {
        list-style-type: none;
        font-family: $poppins;
        font-size: 0.9rem;
        padding: 0.5rem;
    }
}

.hidden {
    display:none;
}


// Aanbieden

#container {
    border-radius: 10px;
    background-color: white;
    height: 100%;
    padding: 1rem;
    margin-top: 1rem;
}

.zoekerTitle h3{
    font-family: $poppins;
    font-size: 1rem !important;
    margin: 1rem 0 1rem 0;
    display: block;
}

ul#offer > li {
    margin-left: -2.5rem;
    list-style-type: none;
    padding: 1rem;
    background-color: white;
    color: $teal;
    border-radius: 5px;
    width: auto;
    border-style: solid;
    border-color: $teal;
    font-size: 1rem;
    font-family: $poppins;
    border-width: thin;
    margin-bottom: 0.5rem;
}

#offer a {
    text-decoration: none;
    display: block;
    width: auto !important;
    color: $teal;
}

.parent { 
    width: 100%;
    background-color: white;
    height: auto;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 3rem;
    h2 {
        font-size: 1.1rem !important;
        font-family: $poppins;
    }
}

// Offer - Spullen
.form-spullen {
    display: inline-grid;
    font-family: $poppins;
    margin-bottom: 1rem;
    #uploadImg {
        display: inline-flex;
    }
    #state {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
}

// Offer - Diensten
.form-diensten {
    display: inline-grid;
    font-family: $poppins;
    margin-bottom: 1rem;
    width: 100%;
}

// Offer - Zoekertje
.form-zoekertje {
    display: inline-grid;
    font-family: $poppins;
    margin-bottom: 1rem;
    width: 100%;
}

// general offer forms
#offer-category {
    width: 150px;
    border-color: $middleblue;
    background-color: $middleblue;
    padding: 0.5rem;
    color: white;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}    

#price-toggle {
    width: 100%;
    display: inline-block;
    #free {
        width: 50%;
        padding: 0.5rem;
        float: left;
        border-radius: 10px 0px 0px 10px;
    }
    #cost {
        width: 50%;
        padding: 0.5rem;
        float: left;
        border-radius: 0px 10px 10px 0px;
    }
    .activePrice {
        background-color: $middleblue;
        color: white;
        border-color: $middleblue;
    }
    .notActivePrice {
        background-color: white;
        color: $middleblue;
        border-color: white;
    }  
}

#price {
    margin-top: 1rem;
    width: 100%;
}

#productDetail {
    margin-top: 1rem;
}

#serviceDetail {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.btn-primary {
    background-color: $teal;
    width: 100%;
}


// Profiel
.cardProfile {
    display: flex;
    justify-content: center;
    border-radius: 15px;
    margin-top: 1rem;
    border-color: white
}
.profileBody {
    display: flex;
    justify-content: center;
}

#settingsIcon {
    width: 45px;
    height: auto;
    position: absolute;
    right: -3%;
    top: 2%;
}

.card-img, .card-img-top {
    .profilePic {
        width: 150px;
        height: auto;
        margin: 1rem 0;
        margin-top: 2.5rem;
    }
    justify-content: center;
    display: flex;
}

#userNameCityCard {
    display: block;
    justify-content: center;
    text-align: center;
    h1 {
        font-family: $poppins;
        font-weight: bold;
        font-size: 1.2rem;
    }
    h2 {
        font-family: $poppins;
        font-weight: 300;
        font-size: 1.2rem;
    }
    #updateBtn {
        display: inline-block;
    }
}

.infoUser {
    display: flex;
    justify-content: center;
    font-family: $poppins;
    font-weight: 300;
    text-align: center;
    margin: 1rem;
    p {
        display: block;
    }
    h3 {
        font-size: 1rem;
    }
    #uitgeleend {
        margin-right: 1rem;
    }
    #breakLine {
        border-right: solid;
        border-color: grey;
        border-width: thin;
        height: 60px;
    }
    #geleend {
        margin-left: 1rem;
    }
}

.itemsUser { 
    display: flex;
    justify-content: center;
    .itemSpullen {
        display: flex;
        justify-content: center;
    }
    .itemDiensten {
        display: flex;
        justify-content: center;
    }
    h1 {
        font-size: 1.2rem;
        font-family: $poppins;
        color: $teal;
        padding: 1rem;
        text-align: center;
        vertical-align: middle;
    }
    .active {
        text-transform: uppercase;
        text-decoration: underline;
        width: auto;
    }

}

.flex-container {
    display: flex;
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    height: auto;
    h1 {
        font-size: 1.1rem;
        font-family: $poppins;
        color: $teal;
        margin-top: 1.5rem;
    }
    a {
        text-decoration: none;
    }
    .active {
        text-transform: uppercase;
        border-bottom: 1px solid $teal;
        width: auto;
    }
}

.flex-child {
    flex: 1;
    text-align: center;
}  

.flex-child:first-child {
    margin-right: 20px;
} 

#logout {
    margin-top: 1rem;
    margin-bottom: 4rem;
}

body {
    padding-bottom: 80px; /* height of the footer */
}

// Detailpage Spullen
#wrapperDetail {
    width: 100%;

}

.detailPic {
    position: absolute;
    width: 410px;
    height: 250px;
    left: 0%;
    top: 12%;
}

#detail-body {
    margin-top: 16rem;
    font-family: $poppins;
    h1 {
        font-size: 1.3rem;
    }
    h2 {
        font-size: 1.2rem;
        color: $orange;
    }
    h3 {
        color: #AEAEAE;
        font-size: 1rem;
        font-weight: 300;
    }
}

