// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Poppins:wght@100;300;500;600&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//colors
$lightgray: #D3D3D3;
$teal: #008B8B;
$middleblue: #6BCEBD;
$turquoise: #A9E5BB;
$orange: #FF8616;

//fonts
$poppins: 'Poppins', sans-serif;
$lato: 'Lato', sans-serif;


nav {
    img{
        margin-bottom: 0.4rem;
    }
    p{
        display: flex;
        flex-direction: column;    
        padding: 0rem 1rem;  
    }
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;
    justify-content: center;
    padding-top: 0.75rem;
}

body {
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: solid;
    border-bottom-color: $lightgray;
    border-width: thin;
}

.logo {
    margin: 1rem;
    width: 60px;
    height: auto;
}

.search{
    margin: 1rem;
    margin-top: 1.5rem;
}

.welcomeHeader{
       background-color: white;
       width: 100%;
}

.welcomeUser {
    h2 {
        font-family: $lato;
        font-size: 1.4rem;
    }
    margin-top: 1rem;
}

.userCity {
    font-size: 1.2rem;
    display: inline-flex;
    img {
        width: 25px;
        margin: -1rem 0.20rem 0rem 0.20rem;
    }
    h3 {
        font-size: 1.2rem;
    }
}

.headerNav {
    button{
        border-radius: 10px;
        padding: 1.1rem;
        margin-right: 0.5rem;
        width: 110px;
        border-style: solid;
        border-color: $teal;
        background-color: white;
        color: $teal;
        font-size: 1rem;
        font-family: $poppins;
        display: flex;
        justify-content: center;
    }

    .active {
        background-color: $teal;
        color: white;
        border-color: $teal;
    }
    
    a {
        padding: 1.5rem;
        border-radius: 10px;
        border-style: solid;
        border-color: black;
        margin-right: 1rem;
    }

    display: inline-flex;
    padding-bottom: 3rem;
    margin-top: 1rem;
}

.cardview {
    margin-bottom: 12rem;
    .card {
        margin-top: 2rem;
        margin-right: 0.5rem;
        display: inline-block;
        max-width: 10rem;
        border-radius: 5%;
        p {
            font-family: $poppins;
            font-size: 0.7rem;
        }
        #price {
            font-family: $poppins;
            font-size: 1rem;
            color: $orange;
        }
        img {
            width: 100%;
            height: 45vw;
            object-fit: cover;
            border-radius: 5% 5% 0% 0%;
        }
        h3 {
            font-family: $poppins;
            font-size: 1.2rem;
        }
        .profile {
            width: 3rem;
            height: auto;
            margin-right: 0.5rem;
        }
        .card-body {
            display: -webkit-inline-box;
            padding: 0.5rem;
            font-size: 0.6rem;
            font-family: $poppins;
            h4 {
                font-weight: 400;
                font-size: 0.8rem;
                margin-top: 0.4rem;
            }
        }
    }
}

#loadMore {
    padding-left: 5rem;
    position: absolute;
    margin-top: 23rem;
}

// Transacties
#illustration {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: white;
}

.menuTransaction {
    display: flex;
    justify-content: center;
    padding: 1rem 0 1rem 0;

    #activeTrans, #historyTrans {
        padding: 0.5rem;
        background-color: white;
        color: $teal;
        border-radius: 5px;
        margin-right: 0.5rem;
        width: 160px;
        border-style: solid;
        border-color: $teal;
        font-size: 1rem;
        font-family: $poppins;
        border-width: thin;
    }
}

h1.titleTrans {
    padding: 1rem;
    justify-content: center;
    display: flex;
    font-size: 1.4rem;
    color: $middleblue;
    font-family: $poppins;
}

.date {
    padding: 0.5rem;
    background-color: $orange;
    color: white;
    font-family: $poppins;
    font-size: 1rem;
    width: auto;
}

// Aanbieden

.zoekerTitle h3{
    font-family: $poppins;
    font-size: 1.1rem !important;
    margin: 1rem 0 1rem 0;
}

ul {
    list-style-type: none;
    margin-left: -2.5rem;
    li {
        padding: 1rem;
        background-color: white;
        color: $teal;
        border-radius: 5px;
        width: auto;
        border-style: solid;
        border-color: $teal;
        font-size: 1rem;
        font-family: $poppins;
        border-width: thin;
        margin-bottom: 0.5rem;
    }
}